[*.cs]
# Suppress
dotnet_diagnostic.CA1716.severity = none

# Temporary - we should control it later
dotnet_diagnostic.IDE0079.severity = none
dotnet_diagnostic.IDE0090.severity = none
dotnet_diagnostic.IDE0110.severity = none