[*.cs]
# Suppress
dotnet_diagnostic.CA2109.severity = none # The event-handlers are "protected internal", not "public".


# Temporary - we should control it later
dotnet_diagnostic.IDE0090.severity = none