[*.cs]
# Suppress
dotnet_diagnostic.CA2109.severity = none # The event-handlers are "protected internal", not "public".

[/Logging/Extensions/LoggerExtension.cs]
dotnet_diagnostic.CA1848.severity = none
dotnet_diagnostic.CA2254.severity = none