[*.cs]
# Suppress
dotnet_diagnostic.CA2109.severity = none # The event-handlers are "protected internal", not "public".


# Temporary - we should control it later
dotnet_diagnostic.CA1070.severity = none
dotnet_diagnostic.IDE0004.severity = none
dotnet_diagnostic.IDE0054.severity = none
dotnet_diagnostic.IDE0078.severity = none
dotnet_diagnostic.IDE0079.severity = none
dotnet_diagnostic.IDE0090.severity = none